[submodule "dpf"]
	path = dpf
	url = https://github.com/DISTRHO/DPF.git
[submodule "dpf-widgets"]
	path = dpf-widgets
	url = https://github.com/DISTRHO/DPF-Widgets.git
[submodule "3rd-party/FFTConvolver"]
	path = 3rd-party/FFTConvolver
	url = https://github.com/falkTX/FFTConvolver.git
[submodule "3rd-party/pffft"]
	path = 3rd-party/pffft
	url = https://github.com/marton78/pffft.git
[submodule "3rd-party/r8brain"]
	path = 3rd-party/r8brain
	url = https://github.com/avaneev/r8brain-free-src.git
